# node / node_modules
node
node_modules
.pnp
.pnp.js

# Crafty
packages/**/dist
packages/**/dist_typings
experiment/dist
target

# Tests
coverage
packages/integration/fixtures/**/dist
packages/integration/fixtures/**/.gitignore

# Caches
.rpt2_cache

# Documentation
docs/publish.json
docs/publish_dev.json

# Tools
.settings
.classpath
.project
.idea
vendor
