.test-gray-1 { color: rgb(94,94,94); }
.test-gray-2 { color: rgb(119,119,119); }
.test-gray-3 { color: rgba(145,145,145,0.5); }
.test-gray-4 { color: rgb(171,171,171); }
.test-gray-5 { color: rgba(198,198,198,0.5); }

.test-invalid-gray-1 { color: gray(); }
.test-invalid-gray-2 { color: gray(40, 1); }
.test-invalid-gray-3 { color: gray(40 / 1 / 1); }
