.Parent {
    background: white;

    &--before {
        color: #333;
    }

    @at-root {
        .Child
            background: black;
        }
    }

    &--after {
        color: #eee;
    }
}

