.icon-foo {
  background: url(icons/foo.png);
}

.icon-bar {
  background: url(icons/bar.png);
}

.icon-baz {
  background: url(icons/baz.png);
}

.b-1 {
  width: 1px;
}

.b-2 {
  width: 2px;
}

.b-3 {
  width: 3px;
}
