/* This file contains only a few examples, the complete tests are in postcss-swissquote-preset */
/* Import CSS Files (postcss-import, postcss-url) */

@import "foo.scss";
@import "math.scss";
@import "media/bar.scss" (min-width: 25em);

// Nested Styles (postcss-nested, postcss-atroot)

.Parent {
    background: white;

    &--before {
        color: #333;
    }

    @at-root {
        .Child {
            background: black;
        }
    }

    &--after {
        color: #eee;
    }
}

.Card {
    background: resolve("background.jpg"); /* use only on small files */
}

.Button {
    background: inline("some/button.png");
    background-size: size("some/button.png");
    width: width("some/button.png");
    height: height("some/button.png");
}

/* Math in your CSS (postcss-calc) */

:root {
    --main-font-size: 16px;
}

.Header {
    font-size: var(--main-font-size);
}

.Header {
    font-size: calc(var(--main-font-size) * 2);
    height: calc(100px - 2em);
    margin-top: calc(var(--main-font-size) * 1.5);
}

/* Vendor Prefixes (autoprefixer) */

:fullscreen .Link {
    display: flex;
}

/* unsupported features warnings */
:root {
    --color: blue;
}

.Component {
    color: color-mod(var(--color) blue(20));
}
