/* ==========================================================================
   NAVIGATION
   ========================================================================== */

.Nav {
    margin: 0;
    padding: 0;

    &__arrow {
        display: inline-block;
        position: relative;
        width: 16px;
        margin-left: -16px;

        &:before {
            position: absolute;
            display: block;
            content: "";
            margin: -0.25em 0 0 -0.4em;
            left: 50%;
            top: 50%;
            width: 0.5em;
            height: 0.5em;
            border-right: 0.15em solid var(--gray);
            border-top: 0.15em solid var(--gray);
            transform: rotate(45deg);
            transition-duration: 0.3s;
        }
    }

    &__item {
        display: block;
        margin: 0;

        a {
            color: inherit;
            padding: 0.4rem 0.3rem 0.4rem 1rem;
            border-bottom: none;
            background: 0 0;
            text-overflow: ellipsis;
            text-decoration: none;
            overflow: hidden;
            white-space: nowrap;
            position: relative;
            display: block;
            margin: 0;
            font-weight: 400;
            font-size: 15px;
            text-shadow: none;
        }

        a:hover {
            text-shadow: none;
            background-color: var(--light-gray);
        }
    }

    .Nav {
        display: none;
        margin-left: 15px;
        padding-left: 20px;

        .Nav__item a {
            margin: 0;
            margin-left: -15px;
            color: inherit;
        }

        .Nav__item--active a {
            color: var(--link-color);
        }
    }

    &__item {
        &--open > a,
        &--active > a {
            background-color: var(--lighter-gray);
        }

        &--open > .Nav {
            display: block;
        }

        &--open a > .Nav__arrow:before {
            margin-left: -0.25em;
            transform: rotate(135deg);
        }
    }
}

/* ==========================================================================
   Collapsible menu
   ========================================================================== */

@media (--viewport-large) {
    .Collapsible__trigger, .Collapsible__label {
        display: none;
    }
}

@media (--viewport-small) {
    .Collapsible {
        margin-bottom: 0;

        .Collapsible__trigger { // input[type="checkbox"]
            display: block;
            width: 40px;
            height: 32px;
            position: absolute;
            top: calc(1.5rem - 18px);
            left: 13px;

            cursor: pointer;

            opacity: 0; /* hide this */
            z-index: 2; /* and place it over the hamburger */

            -webkit-touch-callout: none;
        }

        /*
         * Just a quick hamburger
         */
        label {
            &,
            &:before,
            &:after {
                display: block;
                width: 33px;
                height: 4px;
                position: absolute;
                top: calc(1.5rem - 2px);
                left: 15px;

                font-size: 0;
                content: "";

                background: #cdcdcd;
                border-radius: 2px;

                z-index: 1;

                transform-origin: 4px 0;

                transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
                    background 0.3s cubic-bezier(0.77, 0.2, 0.05, 1) 0.2s,
                    opacity 0.55s ease;
            }

            &:before {
                left: 0;
                top: -10px;
                transform-origin: 0% 0%;
            }

            &:after {
                left: 0;
                top: auto;
                bottom: -10px;
                transform-origin: 0% 100%;
            }
        }

        .Collapsible__trigger:checked { // input
            ~ label {
                background: transparent;
                transition: background 0.2s cubic-bezier(0.77, 0.2, 0.05, 1);
            }

            ~ label:before {
                background: #232323;
                transform: rotate(45deg) translate(4px, -5px);
            }

            ~ label:after {
                background: #232323;
                transform: rotate(-45deg) translate(4px, 6px);
            }
        }

        ul {
            margin-bottom: 1em;
        }

        a {
            display: block;
            padding: 0.25em 0;

            @media (--viewport-large) {
                padding-top: 0.125em;
                padding-bottom: 0.125em;
            }

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .Collapsible__trigger:checked ~ .Collapsible__content {
        transition: 0.5s ease-in-out;
        max-height: 9999px; /* exaggerate max-height to accommodate tall lists*/
        overflow: visible;
        opacity: 1;
        margin-top: 1em;
        transform: translate(0, 0);
    }
}
