/* ==========================================================================
   SINGLE PAGE/POST
   ========================================================================== */

.Page {
    margin-bottom: 2rem;
}

.Page__header > h1 {
    margin-top: 0;
    line-height: 3rem;

    a {
        text-decoration: none;
    }
}

.Page__header--separator {
    height: 0.6em;
}

.s-content {
    h2 {
        padding-bottom: 0.5em;
        border-bottom: 1px solid var(--border-color);
    }

    p,
    li,
    dl {
        font-size: 1em;
    }

    /* paragraph indents */
    p {
        margin: 0 0 var(--indent-var);
    }

    a {
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;

        img {
            box-shadow: 0 0 10px rgba(#000, 0.25);
        }
    }

    dt {
        margin-top: 1em;
        font-weight: bold;
    }

    dd {
        margin-left: 1em;
        font-size: var(--type-size-6);
    }

    small {
        font-size: var(--type-size-6);
    }

    /* blockquote citations */
    blockquote + small {
        margin-top: -1.5em;
        padding-left: 1.25rem;
    }
}

/*
   Pager
   ========================================================================== */

.Pager {
    padding-left: 0;
    margin: 1em 0;
    list-style: none;
    text-align: center;
    clear: both;
    overflow: hidden;

    li {
        display: inline;

        > a {
            display: inline-block;
            padding: 5px 14px;
            background-color: #fff;
            border: 1px solid #ddd;
            border-radius: 2em;
            text-decoration: none;
        }

        > a:hover,
        > a:focus {
            text-decoration: none;
            background-color: #eee;
        }
    }

    &--next > a {
        float: right;
    }

    &--prev > a {
        float: left;
    }
}
