/* ==========================================================================
   SIDEBAR
   ========================================================================== */

/*
   Default
   ========================================================================== */

.Brand {
    display: block;
    font-size: var(--type-size-2);
    line-height: 3rem;

    overflow: hidden;
    text-overflow: ellipsis;

    text-decoration: none;
    text-align: center;
    font-weight: bold;

    background: #fff;
    border-bottom: 1px solid var(--light-gray);
}

.Columns__left {
    transform: translate3d(0, 0, 0);

    clear: both;
    margin-bottom: 1em;

    &:after {
        clear: both;
        content: "";
        display: table;
    }

    @media (--viewport-large) {
        background-color: var(--lightest-gray);
        border-right: 1px solid var(--light-gray);

        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        z-index: 1;
        overflow-y: auto;
        width: 300px;

        margin: 0;
    }

    font-size: var(--type-size-6);
}

.Separator {
    height: 1px;
    border-top: 1px solid var(--light-gray);
}

.Columns__right {
    padding: 0 1rem;

    @media (--viewport-large) {
        padding: 0 2rem;

        position: absolute;
        top: 0;
        right: 0;
        left: 300px;
        bottom: 0;
        overflow-y: auto;
    }
}

.Copyright {
    padding: 10px 15px;
    font-size: var(--type-size-6);

    a {
        display: inline !important;
        padding: 0 !important;
    }
}
