/*
   Table of contents navigation
   ========================================================================== */

.TableOfContentsContainer {
    color: var(--dark-gray);
    background-color: #fff;
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);

    margin-bottom: 1em;

    @media (--viewport-large) {
        position: relative;
        float: right;
        width: 40%;
        max-width: 30rem;
        margin-left: 2rem;
        z-index: 10;
    }

    &__title {
        margin: 0;
        padding: 0.5rem 1rem;
        font-size: var(--type-size-6);
        font-weight: bold;
        color: #fff;
        background: var(--primary-color-light);
        border-top-left-radius: calc(var(--border-radius) - 1px);
        border-top-right-radius: calc(var(--border-radius) - 1px);
    }
}

.TableOfContents {
    margin: 0;
    padding: 0;
    width: 100%;
    list-style: none;
    font-size: 0.8rem;

    p {
        margin: 0 !important;
    }

    a {
        display: block;
        padding: 0.5rem 1rem;
        color: var(--dark-gray);
        font-size: var(--type-size-6);
        font-weight: bold;
        line-height: 1.5;
        border-bottom: 1px solid var(--border-color);

        &:hover {
            color: #000;
            background: var(--lightest-gray);
        }
    }

    li {
        margin-bottom: 0;
    }

    li .TableOfContents > li a {
        border-bottom: none;
        padding: 0.3rem 1rem 0.3rem 2rem;
        font-weight: normal;
    }

    /* hide sub sub links on small screens*/
    li > .TableOfContents li {
        display: none;
        list-style: circle;

        @media (--viewport-large) {
            display: block;
        }
    }
}
