a {
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
  border-collapse: separate;
  border-spacing: 0;
  box-shadow: none;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  caption-side: top;
  clear: none;
  clip: auto;
  color: #000;
  columns: auto;
  column-count: auto;
  column-fill: balance;
  column-rule: medium none currentColor;
  column-span: 1;
  column-width: auto;
  content: normal;
  counter-increment: none;
  counter-reset: none;
  cursor: auto;
  direction: ltr;
  empty-cells: show;
  float: none;
  font-variant: normal;
  height: auto;
  -ms-hyphens: none;
  hyphens: none;
  letter-spacing: normal;
  max-height: none;
  max-width: none;
  min-height: 0;
  min-width: 0;
  opacity: 1;
  orphans: 2;
  outline: medium none invert;
  page-break-after: auto;
  page-break-before: auto;
  page-break-inside: auto;
  -webkit-perspective: none;
  perspective: none;
  -webkit-perspective-origin: 50%;
  perspective-origin: 50%;
  -moz-tab-size: 8;
  tab-size: 8;
  table-layout: auto;
  text-align: left;
  text-align-last: auto;
  text-indent: 0;
  text-shadow: none;
  text-transform: none;
  transform-origin: 50% 50% 0;
  -webkit-transform-style: flat;
  transform-style: flat;
  unicode-bidi: normal;
  vertical-align: baseline;
  visibility: visible;
  white-space: normal;
  widows: 2;
  width: auto;
  word-spacing: normal;
  z-index: auto;
  all: initial;
  background: none;
  border: none;
  -webkit-border-image: ;
  -moz-border-image: ;
  border-image: ;
  -webkit-border-radius: 0;
  border-radius: 0;
  column-gap: normal;
  margin: 0;
  padding: 0;
  font-family: serif;
  font-size: medium;
  font-style: normal;
  font-weight: normal;
  font-stretch: normal;
  line-height: normal;
  text-decoration: none;
  list-style: disc;
  -webkit-transition: none;
  -moz-transition: none;
  transition: none;
  -webkit-animation: none;
  animation: none;
  display: inline;
  position: static;
  top: auto;
  bottom: auto;
  left: auto;
  right: auto;
  overflow: visible;
  -webkit-transform: none;
  -moz-transform: none;
  transform: none;
}
