:-moz-any(button, .button) {
  color: #00f;
}

:is(button, .button) {
  color: #00f;
}

:-moz-any(button, .button):-moz-any(:hover, :focus) {
  color: red;
}

:is(button, .button):is(:hover, :focus) {
  color: red;
}
