name: Node CI

on: [push]

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
        node-version: [10.x, 12.x]
        # TODO : add macos and windows as targets
        # TODO : add Yarn PNP as failable build
        exclude:
        - os: macos-latest
          node-version: 12.x
          
    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - name: Install Java
      uses: actions/setup-java@v18
    - name: yarn install
      run: yarn install
    - name: yarn test
      run: yarn test
      env:
        CI: true
        
  sonarcloud:
    runs-on: ubuntu-latest
    if: github.repository == 'swissquote/crafty' && github.event_name != 'pull_request'
    steps:
    - uses: actions/checkout@v1
    - name: SonarCloud Scan
      uses: SonarSource/sonarcloud-github-action@v1.4
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
