name: Node CI

on:
  push:
    branches:
      - master
  pull_request:
      types: [opened, synchronize, reopened]

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest]
        node-version: [22.x, 24.x]
        include:
        - os: macos-latest
          node-version: 24.x
        - os: macos-14
          node-version: 24.x
        # TODO : add Windows build
        # - os: windows-latest
        #   node-version: 24.x
          
    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v6
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'yarn'
    - name: Install Java
      uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5.2.0
      with:
        distribution: 'zulu'
        java-version: '11'
    - name: yarn install
      run: yarn install
    - name: yarn build
      run: yarn build
    - name: Linting
      run: yarn lint:ci
    - name: Testing
      run: yarn test:ci
      env:
        CI: true
