name: Node CI

on: [push]

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
        node-version: [12.x, 14.x, 16.x]
        # TODO : add macos and windows as targets
        # TODO : add Yarn PNP as failable build
        exclude:
        - os: macos-latest
          node-version: 16.x
          
    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - name: Install Java
      uses: actions/setup-java@v1
      with:
        java-version: '11'
    - name: yarn install
      run: yarn install
    - name: Linting
      run: yarn lint:ci
    - name: Testing
      run: yarn test:ci
      env:
        CI: true
        
  sonarcloud:
    runs-on: ubuntu-latest
    if: github.repository == 'swissquote/crafty' && github.event_name != 'pull_request'
    steps:
    - uses: actions/checkout@v1
    - name: SonarCloud Scan
      uses: sonarsource/sonarqube-scan-action@v1.0.0
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        SONAR_HOST_URL: https://sonarcloud.io

