name: Node CI

on: [push]

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest]
        node-version: [16.x, 18.x, 20.x]
        include:
        - os: macos-latest
          node-version: 18.x
        # TODO : add Windows build
        #- os: windows-latest
        #  node-version: 16.x
          
    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v4
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@5e21ff4d9bc1a8cf6de233a3057d20ec6b3fb69d # v3.8.1
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'yarn'
    - name: Install Java
      uses: actions/setup-java@cd89f46ac9d01407894225f350157564c9c7cee2 # v3.12.0
      with:
        distribution: 'zulu'
        java-version: '11'
    - name: yarn install
      run: yarn install
    - name: yarn build
      run: yarn build
    - name: Linting
      run: yarn lint:ci
    - name: Testing
      run: yarn test:ci
      env:
        CI: true
