name: Node CI

on: [push]

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest]
        node-version: [8.x, 10.x, 12.x]
        # TODO : add macos and windows as targets
        # TODO : add Yarn PNP as failable build
        #include:
        #- os: macos-latest
        #  node-version: 12.x
          
    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v1
    - name: Get Yarn Cache Directory
      id: yarn-cache
      run: echo "::set-output name=dir::$(yarn cache dir)"
    - name: Cache Yarn Cache
      uses: actions/cache@v1
      with:
        path: ${{ steps.yarn-cache.outputs.dir }}
        key: ${{ runner.OS }}-build-${{ matrix.node-version }}-${{ hashFiles('**/yarn.lock') }}
        restore-keys: |
          ${{ runner.OS }}-build-${{ matrix.node-version }}-${{ env.cache-name }}-
          ${{ runner.OS }}-build-${{ matrix.node-version }}-
          ${{ runner.OS }}-build-
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - name: Install Java
      uses: olafurpg/setup-scala@v5
    - name: yarn install
      run: yarn install
    - name: yarn test
      run: yarn test
      env:
        CI: true
        
  sonarcloud:
    runs-on: ubuntu-latest
    if: github.repository == 'swissquote/crafty' && github.event_name != 'pull_request'
    steps:
    - uses: actions/checkout@v1
    - name: SonarCloud Scan
      uses: SonarSource/sonarcloud-github-action@v1.1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        
  documentation:
    runs-on: ubuntu-latest
    if: github.repository == 'swissquote/crafty' && github.event_name != 'pull_request'
    steps:
    - uses: actions/checkout@v1
    - name: Get Composer Cache Directory
      id: composer-cache
      run: echo "::set-output name=dir::$(composer config cache-files-dir)"
    - name: Cache vendor
      uses: actions/cache@v1
      with:
        path: ${{ steps.composer-cache.outputs.dir }}
        key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.lock') }}
        restore-keys: ${{ runner.os }}-composer-
    - name: Install dependencies
      run: composer install --prefer-dist --no-progress --no-suggest
    - name: Generate documentation
      run: vendor/bin/daux generate --themes=docs_theme
    - uses: JamesIves/github-pages-deploy-action@2.0.3
      env:
        FOLDER: "static"
        BRANCH: gh-pages
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
