name: Node CI

on: [push]

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest]
        node-version: [18.x, 18.x, 20.x]
        include:
        - os: macos-latest
          node-version: 18.x
        # TODO : add Windows build
        #- os: windows-latest
        #  node-version: 18.x
          
    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v4
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@8f152de45cc393bb48ce5d89d36b731f54556e65 # v4.0.0
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'yarn'
    - name: Install Java
      uses: actions/setup-java@0ab4596768b603586c0de567f2430c30f5b0d2b0 # v3.13.0
      with:
        distribution: 'zulu'
        java-version: '11'
    - name: yarn install
      run: yarn install
    - name: yarn build
      run: yarn build
    - name: Linting
      run: yarn lint:ci
    - name: Testing
      run: yarn test:ci
      env:
        CI: true
