on:
  push:
    branches:
      - master
  pull_request:
      types: [opened, synchronize, reopened]

name: SonarCloud
jobs:
  sonarcloud:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        # Disabling shallow clone is recommended for improving relevancy of reporting
        fetch-depth: 0
    - name: Use Node.js
      uses: actions/setup-node@5e21ff4d9bc1a8cf6de233a3057d20ec6b3fb69d # v3.8.1
      with:
        node-version: v16.x
    - id: node_path
      run: echo "node=$(which node)" >> $GITHUB_OUTPUT
    - name: SonarCloud Scan
      uses: sonarsource/sonarcloud-github-action@master
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
      with: 
        args: >
          -Dsonar.nodejs.executable=${{ steps.node_path.outputs.node }}
