test-color-mod {
	color: rgb(100% 0% 0%);
	color: rgb(100% 0% 0%);
	color: rgb(100% 0% 0%);
	color: rgb(100% 0% 0%);
	color: rgb(100% 0% 0%);
	color: rgb(100% 0% 0%);
	color: rgb(100% 0% 0%);
	color: rgb(100% 0% 0%);
	color: rgb(100% 0% 0%);
	color: rgb(100% 0% 0%);
	color: rgb(100% 0% 0%);
	color: rgb(100% 0% 0%);
	color: hsl(0 100% 50%);
	color: hsl(0 100% 50%);
	color: hsl(0 100% 50%);
	color: hsl(0 100% 50%);
	color: hsl(0 100% 50%);
	color: hwb(0 0% 0%);
	color: hwb(0 0% 0%);
	color: hwb(0 0% 0%);
	color: hsl(0 100% 50%);
	color: hsl(0 100% 50%);
	color: hsl(0 100% 50%);
	color: hsl(0 100% 50%);
	color: hsl(0 100% 50%);
}

test-red-green-blue-alpha-adjuster {
	color: rgb(100% 0% 7.843%);
	color: rgb(100% 0% 20%);
	color: rgb(100% 7.843% 0%);
	color: rgb(100% 20% 0%);
	color: rgb(92.157% 0% 0%);
	color: rgb(80% 0% 0%);
	color: rgb(49.804% 0% 0%);
	color: rgb(100% 0% 0% / 50%);
	color: rgb(100% 0% 0% / 25%);
}

test-rgb-adjuster {
	color: rgb(100% 100% 0%);
	color: rgb(100% 100% 0%);
	color: rgb(40% 0% 0%);
	color: rgb(40% 0% 0%);
	color: rgb(40% 20% 60%);
}

test-hue-adjuster {
	color: hsl(20 100% 50%);
	color: hsl(20 100% 50%);
	color: hsl(20 100% 50%);
	color: hsl(20 100% 50%);
	color: hsl(0 100% 50%);
	color: hsl(0 100% 50%);
	color: hsl(0 100% 50%);
	color: hsl(0 100% 50%);
}

test-lightness-saturation-adjuster {
	color: hsl(0 100% 50%);
	color: hsl(0 100% 20%);
	color: hsl(0 100% 70%);
	color: hsl(0 100% 30%);
	color: hsl(0 100% 75%);
	color: hsl(60 20% 91.176%);
	color: hsl(60 75.556% 91.176%);
	color: hsl(60 35.556% 91.176%);
	color: hsl(60 83.333% 91.176%);
}

test-blackness-whiteness-adjuster {
	color: hwb(60 86.275% 20%);
	color: hwb(60 86.275% 23.922%);
	color: hwb(60 86.275% 2.922%);
	color: hwb(60 86.275% 78.431%);
	color: hwb(60 20% 3.922%);
	color: hwb(60 87.275% 3.922%);
	color: hwb(60 66.275% 3.922%);
	color: hwb(60 43.137% 3.922%);
}

test-tint-shade-adjuster {
	color: rgb(100% 0% 0%);
	color: rgb(100% 0% 0%);
	color: rgb(100% 0% 0%);
	color: rgb(100% 100% 100%);
	color: rgb(0% 0% 0%);
	color: rgb(100% 20% 20%);
	color: rgb(80% 0% 0%);
}

test-blend-adjuster {
	color: rgb(100% 50% 0%);
	color: rgb(100% 50% 0%);
	color: hsl(30 100% 50%);
	color: hwb(30 0% 0%);
}

test-contrast-adjuster {
	color: hwb(60 0% 100%);
	color: hwb(60 0% 75%);
	color: hwb(60 0% 50%);
	color: hwb(60 0% 25%);
	color: hwb(60 0% 0%);
}

test-combination-adjuster {
	color: rgb(70% 30.201% 46.765%);
}

test-sameness {
	color: rgb(96.078% 96.078% 86.275%);
	color: hsl(60 55.556% 91.176%);
	color: hsl(60 55.556% 91.176%);
	color: hsl(60 55.556% 91.176%);
	color: rgb(96.078% 96.078% 86.275%);
	color: rgb(96.078% 96.078% 86.275%);
	color: rgb(96.078% 96.078% 86.275%);
	color: hsl(60 55.556% 91.176%);
}

:root {
	--color-blue: blue;
	--color-red: red;
	--color: var(--color-blue);
}

test-var {
	color: rgb(0% 0% 100%);
}

test-multiple-value-items {
	border: 1px solid rgb(100% 0% 0%);
}

test-linear-gradient {
	background-image: linear-gradient(rgb(100% 0% 0%), rgb(100% 0% 0% / 0%));
}

test-var-blend {
	color: rgb(90% 0% 10%);
}

test-transparent {
	color: rgb(0% 0% 0%);
}
