 .test-1 { color: rgb(128, 0, 0); }
 .test-2 { color: rgb(128, 0, 0); }
 .test-3 { color: rgb(0, 128, 0); }
 .test-4 { color: rgb(0, 0, 128); }
 .test-5 { color: rgba(0, 0, 0, 0.5); }
 .test-6 { color: rgba(0, 0, 0, 0.5); }
 .test-7 { color: hsl(50, 0%, 0%); }
 .test-8 { color: hsl(50, 0%, 0%); }
 .test-9 { color: hsl(0, 50%, 0%); }
 .test-10 { color: hsl(0, 50%, 0%); }
 .test-11 { color: hsl(0, 0%, 50%); }
 .test-12 { color: hsl(0, 0%, 50%); }
 .test-13 { color: rgb(255, 128, 128); }
 .test-14 { color: rgb(255, 128, 128); }
 .test-15 { color: rgb(0, 0, 128); }
 .test-16 { color: rgb(0, 0, 128); }
 .test-17 { color: rgb(128, 128, 128); }
 .test-18 { color: rgb(0, 0, 0); }
 .test-19 { color: rgb(128, 128, 128); }
 .test-20 { color: rgb(128, 128, 128); }
 .test-21 { color: rgb(128, 128, 128); }
