test-red-green-blue-alpha-adjuster {
        color: color-mod(beige hue(+ 0deg));
        color: color-mod(beige saturation(+ 0%));
        color: color-mod(beige lightness(+ 0%));
        color: color-mod(beige blend(beige 0% hsl));
}
