test-red-green-blue-alpha-adjuster {
        color: hsl(60, 55.556%, 91.176%);
        color: hsl(60, 55.556%, 91.176%);
        color: hsl(60, 55.556%, 91.176%);
        color: hsl(60, 55.556%, 91.176%);
}
