test-red-green-blue-alpha-adjuster-1 { color: hsl(60, 55.556%, 91.176%); }
test-red-green-blue-alpha-adjuster-2 { color: hsl(60, 55.556%, 91.176%); }
test-red-green-blue-alpha-adjuster-3 { color: hsl(60, 55.556%, 91.176%); }
test-red-green-blue-alpha-adjuster-4 { color: hsl(60, 55.556%, 91.176%); }
